[data-md-color-scheme="gmu"] {
  --md-primary-fg-color:        #01693F;
  --md-primary-fg-color--light: #2fb170;
  --md-primary-fg-color--dark:  #01693F;
  --md-accent-fg-color: #007F4D;
  --md-url: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: hsla(0, 0%, 100%, 1)' /></svg>");
}

[data-md-color-scheme="slate"] {
  --md-default-fg-color--light: hsla(134.3, 0%, 99.5%, 0.61);
  --md-default-fg-color--lightest: hsla(232, 0%, 100%, 0.92);
  --md-primary-fg-color: #4cae4f; 
  --md-url: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: hsla(232, 15%, 21%, 1)' /></svg>");
}

.md-nav__title[for=__drawer] {
  background-color: #01693F !important;
}

.md-nav__title[for=__toc] {
  background-color: var(--md-default-bg-color) !important;
}

.md-typeset table:not([class]){
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.4),0 0 .05rem rgba(0,0,0,.1);
}

.md-header{
  background-color: #01693F;
}

.md-search-result__meta{
   color:  hsla(134.3, 0%, 51%, 0.61) !important;
   background-color: hsla(240.62, 0%, 100%, 0) !important;
}

.card{
background-color:  var(--md-admonition-bg-color)!important;
}

.md-tabs{
  background-color: #01693F;
}

.timeline-Widget{
  color:  var(--md-default-bg-color)!important;
  background-color: var(--md-admonition-fg-color)!important;
}

th {
  color:  var(--md-default-bg-color)!important;
  background-color: var(--md-default-fg-color--light)!important;
}

p {
font-size: 16px;
}

ul {
font-size: 16px;
}

ol {
font-size: 16px;
}

.md-header__topic{
  font-weight: 500;
}

.md-ellipsis{
  font-weight: 500;
}

.md-header__ellipsis{
  font-weight: 500;
}

.md-header__topic:first-child{
  font-weight: 500;
}

.md-header__title{
  font-weight: 500;
}

.md-typeset h2 {
  font-weight: 500;
}

.md-typeset h1 {
  font-weight: 500;
}

.md-footer__inner {
  display: none;
  visibility: hidden;
}

.md-button--primary{
  background-color: #01693F !important;
  border-color: #01693F !important; 
}

/*.md-sidebar--primary {
  visibility: hidden;
  width: 150px;
}*/

/*@media screen and (max-width: 600px) {
  .md-sidebar--primary {
    visibility: visible;
  }
}*/


}

